*{
    font-family: sans-serif;
    margin: 0;
}

header{
    background-image: url(Images/Background.avif);
    height: 50vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
header h2{
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
li a{
    text-decoration: none;
    color: aliceblue;
}
li{
    padding: 10px 30px;
    list-style: none;
    display: inline-block
}
.nav{
    text-align: center;

}
li a:hover{
    color: greenyellow;
}
header h1{
    padding-top: 100px;
    font-size: 60px;
    text-align: center;
    color: aliceblue;
}
.project{
    margin: 30px 20px;
    padding: 30px 20px;
    border: 5px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px;
}
.project h3{
    font-size: 35px;
    padding-bottom: 20px;
}
.pic{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.pic p{
    padding-left: 100px;
}
img{
    height: 250px;
    /* margin-right: ; */
    border-radius: 10px;
}

.pic2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic2 p{
    padding-right: 100px;
}



footer{
    background-color: rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
}
.contact-form{
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    
}
.form-box{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: aliceblue;
    row-gap: 20px;
}
.form-box label{
    text-align: left;
}




